# Environment
NODE_ENV=development

# Server
PORT=4000
API_PREFIX=/api/v1

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=realtor
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/realtor?schema=public

# CORS - multiple origins separated by comma
CORS_ORIGIN=http://localhost:3000,https://casalabia.dev,https://www.casalabia.dev

# App Config
APP_VERSION=0.1.0
MAX_UPLOAD_MB=25
FEATURES_LISTINGS=true
